
.titulo{
    text-align: center;
    color: #ff6347;
}

.subtitulo{
    text-align: center;
}

.valores{
    text-align: justify;
    
    
}

.p{
    margin-left: 890px;  
}

.logo{
    margin-left: 830px;
}